@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Lobster&family=Manrope:wght@800&display=swap');



*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

html{
    font-size : 10px;

    --colorShadeA: #64748b;
    --colorShadeB: #94a3b8;
    --colorShadeC: #cbd5e1;
    --colorShadeD: #e2e8f0;
    --colorShadeE: #f1f5f9;
    
    --standardColorA : #eab308;
    --standardColorB : #facc15;
    --standardColorC : #fde047;
    --standardColorD : #fef08a;
    --standardColorE : #fef9c3;

    --customColorA : #3b82f6;
    --customColorB : #60a5fa;
    --customColorC : #93c5fd;
    --customColorD : #bfdbfe;
    --customColorE : #dbeafe;

    --redColorA : #ef4444;
    --redColorB : #f87171;
    --redColorC : #fca5a5;
    --redColorD : #fecaca;
    --redColorE : #fee2e2;

    --greenColorA : #22c55e;
    --greenColorB : #4ade80;
    --greenColorC : #86efac;
    --greenColorD : #bbf7d0;
    --greenColorE : #dcfce7;

    --cellAColorA : #64748b;
    --cellAColorB : #94a3b8;
    --cellAColorC : #cbd5e1;
    --cellAColorD : #e2e8f0;
    --cellAColorE : #f1f5f9;

    --cellBColorA :  #334155;
    --cellBColorB :  #475569;
    --cellBColorC :  #64748b;
    --cellBColorD :  #94a3b8;
    --cellBColorE :  #cbd5e1;

    --titleFont :'Lobster', cursive; 
    --mainFont :'Manrope', sans-serif; 
    --userCellFont : 'Caveat', cursive;
}

#content{
    height: 100vh;
    width : 100vw;
    font-family: var(--mainFont);
    background-color: var(--colorShadeD);
    overflow: auto;
}

/*

    INIT MENU

*/

.init-menu{
    height : 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 2rem;
}

.username-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.init-menu label, .init-menu input{
    font-size : 3rem;
    color : var(--colorShadeA);
    font-family: var(--colorShadeA);
}

.init-menu input{
    border-radius: 2rem;
    outline: none;
    border: none;
    padding : 1.5rem;
    background-color : var(--colorShadeC);
    transition : all 0.3s;
}

input.invalid{
    border : 1px solid var(--redColorA);
}

.proceed-btn{
    width : 50%;
    font-size : 2rem;
}

/*

3D Cartoon Push Button Effect In CSS (Modified)
https://codemyui.com/3d-cartoon-push-button-effect-in-css/

*/

button.big-button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--mainFont);
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

button.big-button:hover {
    background: var(--colorShadeD);
}

button.big-button:active {
    transform: translate(0em, 0.75em);
}

button.big-button:active::before {
    transform: translate3d(0, 0, -1em);
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}


/*

    MAIN MENU

*/

.main-menu{
    position: absolute;
    height : 100%;
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 3rem;
}

.detail-container{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    padding : 1rem;
}

.detail-left{
    grid-column: 1 / 4;
    padding : 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-right{
    font-size : 2rem;
    color : var(--colorShadeA);
    grid-column: 4 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding : 1rem;
}

.avatar{
    height : 5rem;
    width : 5rem;
}


h1.title{
    font-size : 10rem;
    font-family: var(--titleFont);
    color : var(--colorShadeA);
}


.mode-btn, .start-btn{
    font-size : 2rem;
}

#standard{
    color : var(--standardColorA);
    border : 2px solid var(--standardColorA);
    background : var(--standardColorE);
}

#standard::before{
    background: var(--standardColorC);
}

#standard:hover{
    background: var(--standardColorD);
}

#standard:active::before{
    box-shadow: 0 0 0 2px var(--standardColorB), 0 0.25em 0 0 var(--standardCOlorB);
}

#custom{
    color : var(--customColorA);
    border : 2px solid var(--customColorA);
    background : var(--customColorE);
}

#custom::before{
    background: var(--customColorC);
}

#custom:hover{
    background: var(--customColorD);
}

#custom:active::before{
    box-shadow: 0 0 0 2px var(--customColorB), 0 0.25em 0 0 var(--customColorB);
}

.hide-bg{
    position: absolute;
    height : 100%;
    width : 100%;
    background-color: black;
    opacity : 0.5;
}

.mode-pop-up-container{
    height : 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-pop-up{
    position: absolute;
    height : 35rem;
    width : 100rem;
    background-color : var(--colorShadeD);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding : 2.5rem;
    border-radius : 1rem;
}

.mode-pop-up > div{
    border-radius: 1rem;
    padding : 1rem;
}
.mode-pop-up h1{
    font-size : 5rem;
    color : var(--colorShadeA);
    text-align: center;
}

.mode-pop-up h3{
    font-size : 4rem;
}

.mode-pop-up p{
    font-size : 1.5rem;
}

.standard-text{
    background-color: var(--standardColorE);
    color : var(--standardColorA);
    transition : all 0.3s;
}

.standard-text:hover{
    cursor: pointer;
    background-color: var(--standardColorD);
}

.custom-text{
    background-color: var(--customColorD);
    color : var(--customColorA);
    transition : all 0.3s;
    display: flex;
    flex-direction: row;
}

.custom-text:hover{
    cursor: pointer;
    background-color: var(--customColorC);
}

.custom-text-left{
    flex-grow: 1;
}

.custom-text-right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1rem;
}

/*

    GAME INTERFACE

*/

.game-container{
    position : absolute;
    height : 100%;
    width : 100%;
    padding : 2rem 15rem 2rem 15rem;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.game-title{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size : 7rem;
    font-family: var(--titleFont);
    color : var(--colorShadeA);
    text-align: center;
}

.game-options{
    grid-row: 2 / -1;
    grid-column : 1 / 3;   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1rem;
    gap : 5rem;
    font-size: 2.5rem;
}

.game-options > button{
    width : 20rem;
    font-size: 1.5rem;
}

.time{
    background-color : var(--colorShadeC);
    padding : 2rem;
    border-radius: 1rem;
}

.time h4{
    color : var(--colorShadeA);
}

#exit{
    color : var(--redColorA);
    border : 2px solid var(--redColorA);
    background : var(--redColorE);
}

#exit::before{
    background: var(--redColorC);
}

#exit:hover{
    background: var(--redColorD);
}

#exit:active::before{
    box-shadow: 0 0 0 2px var(--redColorB), 0 0.25em 0 0 var(--redColorB);
}

.game-board-container{
    grid-row: 2 / -1;
    grid-column: 3 / -1;
    padding : 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board{
    height : 55rem;
    width : 55rem;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

/*

    CELL STYLE

*/

.cell{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.cell{
    padding: 1em 2em;
    border-radius: 1em;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
.cell::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    box-shadow:
    15px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    15px 6.7px 5.3px rgba(0, 0, 0, 0.048),
    15px 12.5px 10px rgba(0, 0, 0, 0.06),
    15px 22.3px 17.9px rgba(0, 0, 0, 0.072),
    15px 41.8px 33.4px rgba(0, 0, 0, 0.086),
    15px 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.cell:active {
    transform: translate(0em, 0.75em);
}

.cell:active::before {
    transform: translate3d(0, 0, -1em);
}

/*

    CELL STYLE FOR THE FIRST KIND

*/

.cell_a{
    color : var(--cellAColorA);
    border: 2px solid var(--cellAColorA);
    background: var(--cellAColorE);
}

.cell_a::before{
    background: var(--cellAColorC);
}

.cell_a:hover{
    background: var(--cellAColorD);
}

.cell_a:active::before{
    box-shadow: 0 0 0 2px var(--cellAColorB), 0 0.25em 0 0 var(--cellAColorB);
}

/*

    CELL STYLE FOR THE SECOND KIND

*/

.cell_b{
    color : var(--cellBColorA);
    border: 2px solid var(--cellBColorA);
    background: var(--cellBColorE);
}

.cell_b::before{
    background: var(--cellBColorC);
}

.cell_b:hover{
    background: var(--cellBColorD);
}

.cell_b:active::before{
    box-shadow: 0 0 0 2px var(--cellBColorB), 0 0.25em 0 0 var(--cellBColorB);
}


.cell {
    display:flex;
    justify-content: center;
    align-items: center;
}

.user-cell p{
    font-size : 2.75rem;
    font-family: var(--userCellFont);
}

.preloaded-cell p{
    font-size: 2.5rem;
    font-family: var(--mainFont); 
}

#g-hint{
    color : var(--greenColorA);
    border : 2px solid var(--greenColorA);
    background : var(--greenColorE);
}

#g-hint::before{
    background: var(--greenColorC);
}

#g-hint:hover{
    background: var(--greenColorD);
}

#g-hint:active::before{
    box-shadow: 0 0 0 2px var(--greenColorB), 0 0.25em 0 0 var(--greenColorB);
}

#r-hint{
    color : var(--redColorA);
    border : 2px solid var(--redColorA);
    background : var(--redColorE);
}

#r-hint::before{
    background: var(--redColorC);
}

#r-hint:hover{
    background: var(--redColorD);
}

#r-hint:active::before{
    box-shadow: 0 0 0 2px var(--redColorB), 0 0.25em 0 0 var(--redColorB);
}


.choice-popup-container{
    height : 100%;
    width : 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-popup{
    height : 50rem;
    width : 40rem;
    background-color : var(--colorShadeE);
    border-radius : 1rem;
    padding : 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color : var(--colorShadeA);
}

.choice-container{
    height : 35rem;
    width : 35rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap : 2rem;
}

.choice{
    border-radius: 1rem;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 3rem;
    user-select: none;
}

.inactive{
    background-color : var(--colorShadeB);
}
.active{
    background-color : var(--colorShadeD);
}


.unset-btn{
    padding : 1rem;
    height : 7rem;
    grid-row: -1;
    background-color : var(--colorShadeD);
    border-radius: 1rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.active:hover, .unset-btn:hover{
    cursor: pointer;
    background-color : var(--colorShadeC);
}

